In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('csv\\heart.csv')
df

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140,289,0,0,172,0,0.0,1,0
1,49,0,3,160,180,0,0,156,0,1.0,2,1
2,37,1,2,130,283,0,1,98,0,0.0,1,0
3,48,0,4,138,214,0,0,108,1,1.5,2,1
4,54,1,3,150,195,0,0,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1185,45,1,1,110,264,0,0,132,0,1.2,2,1
1186,68,1,4,144,193,1,0,141,0,3.4,2,1
1187,57,1,4,130,131,0,0,115,1,1.2,2,1
1188,57,0,2,130,236,0,2,174,0,0.0,2,1
1189,38,1,3,138,175,0,0,173,0,0.0,1,0

In [4]:
df.columns

Index(['age', 'sex', 'chest pain type', 'resting bp s', 'cholesterol',
       'fasting blood sugar', 'resting ecg', 'max heart rate',
       'exercise angina', 'oldpeak', 'ST slope', 'target'],
      dtype='object')

In [9]:
df.isna().sum()

age                    0
sex                    0
chest pain type        0
resting bp s           0
cholesterol            0
fasting blood sugar    0
resting ecg            0
max heart rate         0
exercise angina        0
oldpeak                0
ST slope               0
target                 0
dtype: int64

In [10]:
df.describe()

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
count,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000
mean,53.720168,0.763866,3.232773,132.153782,210.363866,0.213445,0.698319,139.732773,0.387395,0.922773,1.624370,0.528571
std,9.358203,0.424884,0.935480,18.368823,101.420489,0.409912,0.870359,25.517636,0.487360,1.086337,0.610459,0.499393
min,28.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,60.000000,0.000000,-2.600000,0.000000,0.000000
25%,47.000000,1.000000,3.000000,120.000000,188.000000,0.000000,0.000000,121.000000,0.000000,0.000000,1.000000,0.000000
50%,54.000000,1.000000,4.000000,130.000000,229.000000,0.000000,0.000000,140.500000,0.000000,0.600000,2.000000,1.000000
75%,60.000000,1.000000,4.000000,140.000000,269.750000,0.000000,2.000000,160.000000,1.000000,1.600000,2.000000,1.000000
max,77.000000,1.000000,4.000000,200.000000,603.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,1.000000

In [11]:
input_cols = ['age', 'sex', 'chest pain type', 'resting bp s', 'cholesterol',
       'fasting blood sugar', 'resting ecg', 'max heart rate',
       'exercise angina', 'oldpeak', 'ST slope',]
target_col = 'target'
numeric_cols = ['age', 'sex', 'chest pain type', 'resting bp s', 'cholesterol',
       'fasting blood sugar', 'resting ecg', 'max heart rate',
       'exercise angina', 'oldpeak', 'ST slope',]

In [18]:
train_inputs = df[input_cols].copy()
train_targets = df[target_col].copy()

In [19]:
train_inputs

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope
0,40,1,2,140,289,0,0,172,0,0.0,1
1,49,0,3,160,180,0,0,156,0,1.0,2
2,37,1,2,130,283,0,1,98,0,0.0,1
3,48,0,4,138,214,0,0,108,1,1.5,2
4,54,1,3,150,195,0,0,122,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
1185,45,1,1,110,264,0,0,132,0,1.2,2
1186,68,1,4,144,193,1,0,141,0,3.4,2
1187,57,1,4,130,131,0,0,115,1,1.2,2
1188,57,0,2,130,236,0,2,174,0,0.0,2
1189,38,1,3,138,175,0,0,173,0,0.0,1

In [20]:
train_targets

0       0
1       1
2       0
3       1
4       0
       ..
1185    1
1186    1
1187    1
1188    1
1189    0
Name: target, Length: 1190, dtype: int64

In [21]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(train_inputs[numeric_cols])

train_inputs[numeric_cols] = scaler.transform(train_inputs[numeric_cols])
train_inputs

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope
0,0.244898,1.0,0.333333,0.70,0.479270,0.0,0.0,0.788732,0.0,0.295455,0.333333
1,0.428571,0.0,0.666667,0.80,0.298507,0.0,0.0,0.676056,0.0,0.409091,0.666667
2,0.183673,1.0,0.333333,0.65,0.469320,0.0,0.5,0.267606,0.0,0.295455,0.333333
3,0.408163,0.0,1.000000,0.69,0.354892,0.0,0.0,0.338028,1.0,0.465909,0.666667
4,0.530612,1.0,0.666667,0.75,0.323383,0.0,0.0,0.436620,0.0,0.295455,0.333333
...,...,...,...,...,...,...,...,...,...,...,...
1185,0.346939,1.0,0.000000,0.55,0.437811,0.0,0.0,0.507042,0.0,0.431818,0.666667
1186,0.816327,1.0,1.000000,0.72,0.320066,1.0,0.0,0.570423,0.0,0.681818,0.666667
1187,0.591837,1.0,1.000000,0.65,0.217247,0.0,0.0,0.387324,1.0,0.431818,0.666667
1188,0.591837,0.0,0.333333,0.65,0.391376,0.0,1.0,0.802817,0.0,0.295455,0.666667
1189,0.204082,1.0,0.666667,0.69,0.290216,0.0,0.0,0.795775,0.0,0.295455,0.333333

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_val, train_targets, val_targets = train_test_split(train_inputs, train_targets, test_size=0.35  ,random_state=42)

In [23]:
X_train

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope
29,0.469388,1.0,0.333333,0.625,0.311774,0.0,0.0,0.598592,0.0,0.295455,0.333333
423,0.755102,1.0,1.000000,0.750,0.391376,1.0,0.5,0.316901,1.0,0.295455,0.666667
165,0.489796,0.0,0.333333,0.700,0.373134,0.0,0.0,0.563380,0.0,0.295455,0.333333
248,0.408163,1.0,1.000000,0.610,0.456053,1.0,0.5,0.633803,1.0,0.522727,1.000000
307,0.551020,1.0,1.000000,0.575,0.000000,1.0,0.0,0.669014,0.0,0.306818,0.666667
...,...,...,...,...,...,...,...,...,...,...,...
1044,0.612245,1.0,1.000000,0.625,0.497512,0.0,1.0,0.781690,0.0,0.295455,0.333333
1095,0.551020,1.0,0.333333,0.650,0.434494,0.0,0.0,0.669014,0.0,0.295455,0.333333
1130,0.673469,1.0,0.000000,0.670,0.388060,0.0,0.0,0.598592,0.0,0.590909,0.666667
860,0.693878,0.0,1.000000,0.700,0.444444,0.0,1.0,0.704225,0.0,0.704545,1.000000
1126,0.285714,1.0,0.333333,0.600,0.489221,0.0,0.0,0.718310,0.0,0.295455,0.333333

In [25]:
train_targets

29      0
423     1
165     0
248     1
307     1
       ..
1044    1
1095    0
1130    1
860     1
1126    0
Name: target, Length: 773, dtype: int64

In [24]:
X_val

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope
390,0.673469,1.0,1.000000,0.800,0.000000,1.0,0.5,0.598592,0.0,0.409091,0.666667
247,0.530612,1.0,0.666667,0.600,0.393035,0.0,0.0,0.633803,1.0,0.465909,0.666667
260,0.551020,0.0,0.333333,0.610,0.530680,0.0,0.0,0.669014,0.0,0.295455,0.333333
155,0.571429,1.0,1.000000,0.775,0.567164,1.0,0.0,0.633803,1.0,0.636364,0.666667
984,0.653061,0.0,1.000000,0.750,0.427861,0.0,1.0,0.683099,0.0,0.590909,0.666667
...,...,...,...,...,...,...,...,...,...,...,...
682,0.591837,1.0,1.000000,0.750,0.457711,0.0,1.0,0.366197,1.0,0.363636,0.666667
80,0.551020,1.0,0.666667,0.550,0.459370,0.0,0.0,0.704225,0.0,0.295455,0.333333
997,0.673469,0.0,1.000000,0.725,0.509121,0.0,1.0,0.605634,1.0,0.409091,0.666667
987,0.346939,1.0,1.000000,0.575,0.431177,0.0,1.0,0.880282,0.0,0.295455,0.333333
1063,0.489796,1.0,1.000000,0.540,0.386401,1.0,0.0,0.612676,0.0,0.306818,0.333333

In [26]:
val_targets

390     1
247     1
260     0
155     1
984     1
       ..
682     1
80      0
997     1
987     0
1063    0
Name: target, Length: 417, dtype: int64

## Logistic regression

In [27]:
lr = LogisticRegression()
lr.fit(X_train,train_targets)
lr.score(X_val,val_targets)

0.8489208633093526

## DECISION TREE

In [29]:
dt = DecisionTreeClassifier()
dt.fit(X_train,train_targets)
dt.score(X_val,val_targets)

0.8633093525179856

## RANDOM FOREST

In [30]:
rf = RandomForestClassifier()
rf.fit(X_train,train_targets)
rf.score(X_val,val_targets)

0.9112709832134293

In [ ]:
def get_score(model, X_train, X_val, train_targets, val_targets):
    model.fit(X_train, train_targets)
    return model.score(X_val, val_targets)

## KFold cross validation

In [32]:
train_inputs

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope
0,0.244898,1.0,0.333333,0.70,0.479270,0.0,0.0,0.788732,0.0,0.295455,0.333333
1,0.428571,0.0,0.666667,0.80,0.298507,0.0,0.0,0.676056,0.0,0.409091,0.666667
2,0.183673,1.0,0.333333,0.65,0.469320,0.0,0.5,0.267606,0.0,0.295455,0.333333
3,0.408163,0.0,1.000000,0.69,0.354892,0.0,0.0,0.338028,1.0,0.465909,0.666667
4,0.530612,1.0,0.666667,0.75,0.323383,0.0,0.0,0.436620,0.0,0.295455,0.333333
...,...,...,...,...,...,...,...,...,...,...,...
1185,0.346939,1.0,0.000000,0.55,0.437811,0.0,0.0,0.507042,0.0,0.431818,0.666667
1186,0.816327,1.0,1.000000,0.72,0.320066,1.0,0.0,0.570423,0.0,0.681818,0.666667
1187,0.591837,1.0,1.000000,0.65,0.217247,0.0,0.0,0.387324,1.0,0.431818,0.666667
1188,0.591837,0.0,0.333333,0.65,0.391376,0.0,1.0,0.802817,0.0,0.295455,0.666667
1189,0.204082,1.0,0.666667,0.69,0.290216,0.0,0.0,0.795775,0.0,0.295455,0.333333

In [36]:
# from sklearn.model_selection import StratifiedKFold
# folds = StratifiedKFold(n_splits=3)

# scores_logistic = []
# scores_dt = []
# scores_rf = []

# for train_index, val_index in folds.split(train_inputs,train_targets):
#     X_train, X_val, train_targets, val_targets = X_train[train_index], X_val[val_index], \
#                                        train_targets[train_index], val_targets[val_index]
#     scores_logistic.append(get_score(LogisticRegression(solver='liblinear'), X_train, X_val, train_targets, val_targets))  
#     scores_dt.append(get_score(DecisionTreeClassifier(),X_train, X_val, train_targets, val_targets))
#     scores_rf.append(get_score(RandomForestClassifier(n_estimators=40), X_train, X_train, X_val, train_targets, val_targets))

## cross val score

In [37]:
from sklearn.model_selection import cross_val_score

In [41]:
cross_val_score(LogisticRegression(),X_train,train_targets,cv=6)

array([0.82945736, 0.84496124, 0.8372093 , 0.80620155, 0.75968992,
       0.796875  ])

In [39]:
cross_val_score(DecisionTreeClassifier(),X_train,train_targets,cv=6)

array([0.87596899, 0.8372093 , 0.89147287, 0.81395349, 0.8372093 ,
       0.859375  ])

In [40]:
cross_val_score(RandomForestClassifier(),X_train,train_targets,cv=6)

array([0.91472868, 0.91472868, 0.91472868, 0.87596899, 0.84496124,
       0.875     ])

## Parameter tunning using k fold cross validation

In [42]:
scores1 = cross_val_score(RandomForestClassifier(n_estimators=5),X_train,train_targets,cv=10)
np.average(scores1)

0.858924408924409

In [43]:
scores2 = cross_val_score(RandomForestClassifier(n_estimators=50),X_train,train_targets,cv=10)
np.average(scores2)

0.8977355977355979

In [49]:
scores2 = cross_val_score(RandomForestClassifier(n_estimators=100,max_depth=7),X_train,train_targets,cv=10)
np.average(scores2)

0.8860805860805859

In [52]:
for i in range(1,11):
    scores = cross_val_score(RandomForestClassifier(n_estimators=100,max_depth=i),X_train,train_targets,cv=10)
    print(f'max depth - {i}',np.average(scores))

max depth - 1 0.816067266067266
max depth - 2 0.8186646686646686
max depth - 3 0.829070929070929
max depth - 4 0.8355477855477856
max depth - 5 0.8549450549450549
max depth - 6 0.8601398601398602
max depth - 7 0.8912587412587414
max depth - 8 0.8938228438228439
max depth - 9 0.8938561438561436
max depth - 10 0.88996003996004

In [54]:
for i in range(1,201,20):
    scores = cross_val_score(RandomForestClassifier(n_estimators=i,max_depth=10),X_train,train_targets,cv=10)
    print(f'n_estimators:{i} average_scores : {np.average(scores)}')

n_estimators - 1 average_scores : 0.8162670662670661
n_estimators - 21 average_scores : 0.8977355977355979
n_estimators - 41 average_scores : 0.9093406593406593
n_estimators - 61 average_scores : 0.8964368964368965
n_estimators - 81 average_scores : 0.9068265068265067
n_estimators - 101 average_scores : 0.9029137529137529
n_estimators - 121 average_scores : 0.902897102897103
n_estimators - 141 average_scores : 0.899034299034299
n_estimators - 161 average_scores : 0.9029137529137529
n_estimators - 181 average_scores : 0.9080752580752579

In [83]:
scores = cross_val_score(RandomForestClassifier(n_estimators=141,max_depth=10,max_leaf_nodes=127 , n_jobs=-1, random_state=42, max_samples=0.97, criterion='gini'),X_train,train_targets,cv=10)
np.average(scores)

0.9029304029304029

In [94]:
best_params_rf = {
    'random_state':42,
    'n_estimators':141,
    'max_depth':10,
    'max_leaf_nodes':127 ,
    'n_jobs':-1, 
    'random_state':42,
    'max_samples':0.97, 
    'criterion':'gini',
}

In [95]:
best_model = RandomForestClassifier(**best_params_rf).fit(X_train,train_targets)
print(f'train_score - {round(best_model.score(X_train,train_targets)*100,2)}%')
print(f'val_score - {round(best_model.score(X_val,val_targets)*100,2)}%')

train_score - 99.48%
val_score - 92.81%